<div
  class="flex flex-col items-center justify-center min-h-screen bg-gray-900 p-4"
>
  <h1 class="text-4xl font-bold mb-8 text-white">Forecasts</h1>
  <div class="space-x-4">
    <button
      (click)="navigateToForecast('LWX')"
      class="bg-custom-blue text-white px-6 py-3 rounded-md shadow-md hover:bg-custom-blue-dark transition duration-300"
    >
      District of Columbia
    </button>
    <button
      (click)="navigateToForecast('TOP')"
      class="bg-custom-green text-white px-6 py-3 rounded-md shadow-md hover:bg-custom-green-dark transition duration-300"
    >
      Kansas
    </button>
  </div>
</div>
